{% import "fields.html.twig" as fields %}
{% import "table.html.twig" as tables %}
{% import "buttons.html.twig" as buttons %}


    <div class="pageheader notab">
        <h1 class="pagetitle">Categorias</h1>
    </div><!--pageheader-->

    <div id="contentwrapper" class="contentwrapper">

        <div class="subcontent">
            {% if permissoes['CADAS_SALVAR'] %}
                {{ fields.text("novaCategoria") }} {{ buttons.iconButton("Adicionar", "javascript:adicionarCategoria()", "no_icon") }}
            {% endif %}
            <br clear="all" />
            <br clear="all" />
            
            {{ categorias|raw }}
            
        </div>

    </div><!--contentwrapper-->

    <br clear="all" />

