{# comment }
{% import "fields.html.twig" as fields %}
{% import "table.html.twig" as tables %}
{% import "buttons.html.twig" as buttons %}
{ endcomment #} 

<div class="centercontent">
    
    <p>teste</p>
    <!-- <div class="pageheader notab"> -->
    <!--     <h1 class="pagetitle">{#{ titlePage }#}</h1> -->
    <!-- </div><!&#45;&#45;pageheader&#45;&#45;> -->
    <!--  -->
    <!-- <div id="contentwrapper" class="contentwrapper"> -->
    <!--  -->
    <!--     <div class="subcontent"> -->
    <!--         {#{ tables.table( -->
    <!--                         [ -->
    <!--                         tables.head([ -->
    <!--                                         tables.columnHeader(fields.checkboxHeader()), -->
    <!--                                         tables.columnHeader([ -->
    <!--                                                                 permissoes['BANCO_EXPORTA'] ? buttons.iconButton("Exportar", "javascript:exportar()", "no_icon") : "", -->
    <!--                                                                 permissoes['BANCO_EXCLUIR'] ? buttons.iconButton("Excluir", "javascript:void(0)" , "no_icon deletebutton") : "", -->
    <!--                                                             ]|join, -->
    <!--                                                  -->
    <!--                                                 "90%") -->
    <!--                                     ]) -->
    <!--                         ]|join, -->
    <!--                 "emailboletim") }#} -->
    <!--                              -->
    <!--     </div> -->
    <!--  -->
    <!-- </div><!&#45;&#45;contentwrapper&#45;&#45;> -->
    <!--  -->
    <br clear="all" />

</div>
