{% import "fields.html.twig" as fields %}
{% import "table.html.twig" as tables %}
{% import "buttons.html.twig" as buttons %}

<div class="pageheader notab">
    <h1 class="pagetitle">Selecionar Galerias</h1>
    {% if categoria == "noticia" %}
        <span class="aviso-galerias">Máximo de 3 galerias.</span>
    {% endif %}
</div><!--pageheader-->

<div id="contentwrapper" class="contentwrapper">
    <div class="subcontent">
        {{ tables.table(
                            [
                            tables.head([
                                            tables.columnHeader(tipo == 'checkbox' and categoria != "noticia" ? fields.checkboxHeader() : "" ),
                                            tables.columnHeader([
                                                                buttons.iconButton("Nova galeria", "javascript:nova()", "no_icon Nova galeria"),
                                                                buttons.iconButton("Atualizar Lista", "javascript:atualizar()", "no_icon Atualizar Lista")
                                                            ]|join, "100%"),
                                        ])
                            ]|join,
                    "galerias") }}

        <form id="frm" class="stdform stdform2"  >
            {{  buttons.iconButton("Escolher e fechar", "javascript:escolherFechar()", "no_icon")  }}
            {{  buttons.iconButton("Fechar", "javascript:fechar()", "no_icon")  }}
        </form>
        <input type="hidden" name="idsGalerias" id="idsGalerias" value="{{ idsMarcados }}"/>
    </div>
</div><!--contentwrapper-->
<br clear="all" />

