{% import "fields.html.twig" as field %}

<div class='topheader'> 

    <div class='left'>
        <a href="index"><div class="logo"></div></a>
        <div class='titleheader'>CMS Portal e Intranet</div>
        <!--  <h1 class='logo'>IPHAN<span></span></h1> 
          <span class='slogan'>CMS Portal</span>-->
        <br clear='all'>
    </div>

    <div class='right'>
        <div class='dadosUser'>
            <a HREF="login/logoff">sair</a>
        </div>
        
         <div class='dadosUser'>
            <a href="ajuda" class="ajudaCms">AJUDA</a>
        </div>
        
     <!--    <div style="display: inline-block">
           
        </div>



       
 <div class="ajudaCmsDiv">
            <a href="ajuda" class="ajudaCms" >Ajuda</a>
        </div>
        <!--
        <div class='notification'>
            <a href='ajax/notifications.html' class='count'><span>9</span></a>
        </div>
        
        <div class='userinfo'>
            <img alt="Avatar" src='templates/amanda/assets/images/thumbs/avatar.png' />
            <span>Juan Dela Cruz</span>
        </div>
        
        
        <div class='userinfodrop'>
            
            <div class='avatar'>
                <a href=''><img alt='Avatar Grande'  src='templates/amanda/assets/images/thumbs/avatarbig.png'></a>
                <div class='changetheme'>
                    Mudar tema: <br>
                    <a class='default'></a>
                    <a class='blueline'></a>
                    <a class='greenline'></a>
                    <a class='contrast'></a>
                    <a class='custombg'></a>
                </div>
            </div><!--avatar-->
        <!--
        <div class='userdata'>
            <h4>Juan Dela Cruz</h4>
            <span class='email'>youremail@yourdomain.com</span>
            <ul>
                <li><a href="#">Trocar Imagem</a></li>
                <li><a href="#">Trocar senha</a></li>
                <li><a href="#">Ajuda</a></li>
                <li><a href="#">Sair</a></li>
            </ul>
        </div><!--userdata-->
        <!--
    </div><!--userinfodrop-->

    </div><!--right-->

</div><!--topheader-->