{% import "fields.html.twig" as fields %}
{% import "table.html.twig" as tables %}
{% import "buttons.html.twig" as buttons %}
<div class="centercontent">


    <div class="pageheader notab">
        <h1 class="pagetitle">{{titlePage}}</h1>
        {{ permissoes['LICIT_INSERIR'] ? buttons.iconButton("Inserir novo", "licitacaoConvenioContrato/form", "no_icon", "green") : "" }}
        <br clear="all">
    </div><!--pageheader-->

    <div id="contentwrapper" class="contentwrapper">

        <div class="subcontent">
            {{ tables.table(
                            [
                            tables.head([
                                            tables.columnHeader(fields.checkboxHeader()),
                                            tables.columnHeader([
                                                                permissoes['LICIT_PUBLI'] ? buttons.iconButton("Publicar", "javascript:alterarStatus(1)", "no_icon") : "",
                                                                permissoes['LICIT_NOPUBLI'] ? buttons.iconButton("Não publicar", "javascript:alterarStatus(0)", "no_icon") : "",
                                                                permissoes['LICIT_EXCLUIR'] ? buttons.iconButton("Excluir", "javascript:excluir()", "no_icon") : "",
                                                                "&nbsp;&nbsp;&nbsp;&nbsp; Data ", 
                                                                fields.date("data_inicial", "", "", ""),
                                                                "&nbsp;&nbsp;", 
                                                                fields.date("data_final", "", "", ""), "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;",
                                                                "<div class='filtroSelect'>", [
                                                                    "&nbsp;&nbsp;",
                                                                    fields.select("categoria", categorias, "", "Todas as categorias"),
                                                                ]|join,
                                                                "</div>",
                                                                
                                            ]|join, "80%"),
                                            tables.columnHeader([
                                                                fields.select("tipo", tipos, "", "Todos os tipos")

                                            ]|join, "10%"),
                                            tables.columnHeader([
                                                            fields.select("status", status, "", "Todos os status"),

                                            ]|join, "10%")
                                        ])
                            ]|join,
                    "lcc") }}

        </div>

    </div><!--contentwrapper-->

    <br clear="all" />

</div>