<!DOCTYPE HTML>
<html lang="pt-br">
<head>

	<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
	<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
	<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->

	<!--[if IE]> 
	    <script type="text/javascript">         
	        document.createElement("header");        
	        document.createElement("section");
	        document.createElement("article");
	        document.createElement("aside");
	        document.createElement("nav");        
	        document.createElement("figure");
	        document.createElement("legend");
	        document.createElement("footer");
	    </script> 
    <![endif] -->

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css' />
	<link href="./css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="./css/template.css" rel='stylesheet' type='text/css' />
	<link href="./css/style.css" rel='stylesheet' type='text/css' />
	<link href="./css/contrast.css" rel='stylesheet' type='text/css' />

	<title>IPHAN - Instituto do Patrimônio Histórico e Artístico Nacional</title>	
</head>
<body>
	<div id="barra-brasil" style="background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block;">
		<ul id="menu-barra-temp" style="list-style:none;">
			<li style="display:inline; float:left; padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED">
				<a href="http://brasil.gov.br" style="font-family:sans, sans-serif; text-decoration:none; color:white">Portal do Governo Brasileiro</a>
			</li>
			<li>
				<a style="font-family:sans,sans-serif; text-decoration:none; color:white;" href="http://epwg.governoeletronico.gov.br/barra/atualize.html">Atualize sua Barra de Governo</a>
			</li>
		</ul>
	</div>

	<div id="main">

		<header id="header" role="banner">
			<div id="header-left">
				<a href="#">
					<h1>
						<img src="./img/logo.jpg" alt="Logo" />
					</h1>
				</a>
			</div>
			<div id="header-right">
				<div class="row clearfix">
					<div class="bts-accessibility float-left">
						<ul class="clearfix">
							<li class="float-left">
								<a href="#" class="increase-font">aumentar fonte</a>
							</li>
							<li class="float-left">
								<a href="#" class="decrease-font">diminuir fonte</a>
							</li>
							<li class="float-left">
								<a href="#" class="contrast">contraste</a>
							</li>
						</ul>
					</div>
					<div class="search float-left">
						<form action="#">
							<input type="search" name="busca" placeholder="Pesquise aqui sobre o IPHAN" accesskey="3" />
							<input type="submit" name="buscar" value="buscar" />
						</form>
					</div>
					<div class="selo-mapa float-right">
						<a href="#"><img src="./img/selo-mapa.png" alt="Mapa do Patrimônio Culrual do Brasil"></a>
					</div>
				</div>
				<div class="row clearfix">
					<nav class="menu-header" role="menubar">
						<ul class="clearfix float-left">
							<li class="first" role="menuitem">
								<a href="#">Concursos</a>
							</li>
							<li role="menuitem">
								<a href="#">Seleções</a>
							</li>
							<li role="menuitem">
								<a href="#">Cotações</a>
							</li>
							<li role="menuitem">
								<a href="#">Sistema</a>
							</li>
							<li role="menuitem">
								<a href="#">Intranet</a>
							</li>
							<li role="menuitem">
								<a href="#">FAQ</a>
							</li>
							<li role="menuitem" class="last">
								<a href="#">Fale conosco</a>
							</li>

						</ul>
					</nav>
				</div>
			</div>	
		</header>

		<div id="menu-master">
			<nav role="navigation">
				<ul class="dropdown clearfix">
		        	<li role="menuitem">
		        		<a href="#" accesskey="2">Institucional</a>        		
		        	</li>
		        	<li role="menuitem">
		        		<a href="#">Superintendências</a>        		
		        	</li>
		        	<li role="menuitem">
		        		<a href="#">Patrimônios</a>        		
		        	</li>
		        	<li role="menuitem">
		        		<a href="#">Conhecimento</a>
		        	</li>
		        	<li role="menuitem">
		        		<a href="#">Projetos e Programas</a>
		        	</li>
		        	<li role="menuitem">
		        		<a href="#" title="possui sub-menu">Comunicação</a>
		        		<ul class="sub_menu" role="menu">
		        			<li role="menuitem">
		        				<a href="#">Notícias</a>
		        			</li>
							<li role="menuitem">
		        				<a href="#">Agenda / Eventos</a>
		        			</li>
							<li role="menuitem">
		        				<a href="#">Galeria de Fotos</a>
		        			</li>
							<li role="menuitem">
		        				<a href="#">Vídeos</a>
		        			</li>
							<li role="menuitem">
		        				<a href="#" title="último item do submenu comunicação">Boletim Eletrônico do Patrimônio Cultural</a>
		        			</li>
		        		</ul>
		        	</li>
		        	<li role="menuitem">
		        		<a href="#">Serviços Online</a>
		        	</li>
		        	<li role="menuitem">
		        		<a href="#">Mais</a>
		        	</li>
		        </ul>
	        </nav>
		</div>

		<section id="container">

			<section id="container2">
			
				<section id="master" role="main">				
					<article class="master-content">
						<div class="row">
							<ol class="breadcrumb">
								<li><a href="#">Página inicial</a></li>
								<li class="active">Resultado da Busca</li>
							</ol>
						</div>
						<div class="row">
							<h2>Resultado Busca</h2>							
						</div>
						<div class="row">
							<p>Sua busca pela palavra chave <palavra chave> retornou os seguintes resultados:</p>
							<p><strong>Foram encontrados 12 resultados para &lt;palavra chave&gt;</strong></p>
						</div>
						<div class="row">
							<ul class="lista-busca">
								<li>
									<div class="box-cinza p10">
										<h4>Brasília - DF</h4>
										<span>Concorrência - 03/2014 - IPHAN NACIONAL</span>
									</div>								
								</li>
								<li>
									<div class="box-cinza p10">
										<h4>Brasília - DF</h4>
										<span>Concorrência - 03/2014 - IPHAN NACIONAL</span>
									</div>								
								</li>
								<li>
									<div class="box-cinza p10">
										<h4>Brasília - DF</h4>
										<span>Concorrência - 03/2014 - IPHAN NACIONAL</span>
									</div>								
								</li>
								<li>
									<div class="box-cinza p10">
										<h4>Brasília - DF</h4>
										<span>Concorrência - 03/2014 - IPHAN NACIONAL</span>
									</div>								
								</li>
								<li>
									<div class="box-cinza p10">
										<h4>Brasília - DF</h4>
										<span>Concorrência - 03/2014 - IPHAN NACIONAL</span>
									</div>								
								</li>
								<li>
									<div class="box-cinza p10">
										<h4>Brasília - DF</h4>
										<span>Concorrência - 03/2014 - IPHAN NACIONAL</span>
									</div>								
								</li>
								<li>
									<div class="box-cinza p10">
										<h4>Brasília - DF</h4>
										<span>Concorrência - 03/2014 - IPHAN NACIONAL</span>
									</div>								
								</li>
								<li>
									<div class="box-cinza p10">
										<h4>Brasília - DF</h4>
										<span>Concorrência - 03/2014 - IPHAN NACIONAL</span>
									</div>								
								</li>
								<li>
									<div class="box-cinza p10">
										<h4>Brasília - DF</h4>
										<span>Concorrência - 03/2014 - IPHAN NACIONAL</span>
									</div>								
								</li>
								<li>
									<div class="box-cinza p10">
										<h4>Brasília - DF</h4>
										<span>Concorrência - 03/2014 - IPHAN NACIONAL</span>
									</div>								
								</li>
								<li>
									<div class="box-cinza p10">
										<h4>Brasília - DF</h4>
										<span>Concorrência - 03/2014 - IPHAN NACIONAL</span>
									</div>								
								</li>
								<li>
									<div class="box-cinza p10">
										<h4>Brasília - DF</h4>
										<span>Concorrência - 03/2014 - IPHAN NACIONAL</span>
									</div>								
								</li>
							</ul>
						</div>
					</article>
					<div class="box-cinza">
						<div class="box-cinza-margem">
							<div class="paginacao">
								<ul class="pagination">
									<li class="prev"><a href="#">Anterior</a></li>
									<li class="active"><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li><a href="#">6</a></li>
									<li><a href="#">7</a></li>
									<li><a href="#">8</a></li>
									<li><a href="#">9</a></li>
									<li class="next"><a href="#">Próxima</a></li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<aside id="col-red" role="complementary">
					<article class="col-red-content">
						<div class="box-map">
							<a href="#">
								<img src="img/conheca-o-iphan.jpg" alt="mapa">
							</a>
						</div>
						<div class="box-links-rapidos">
							<div class="title-bg">
								<div class="title-border">
									<h2>Links Rápidos</h2>
								</div>
							</div>
							<ul>
								<li><a href="#">- Agenda</a></li>
								<li><a href="#">- Banco de Dados</a></li>
								<li><a href="#">- Bibliotecas do IPHAN</a></li>
								<li><a href="#">- Concurso do IPHAN</a></li>
								<li><a href="#">- Editais e Seleções</a></li>
								<li><a href="#">- Legislação</a></li>
								<li><a href="#">- Links Patrimônio Cultural</a></li>
								<li><a href="#">- Notícias</a></li>
								<li><a href="#">- Perguntas Frequentes</a></li>
								<li><a href="#">- Transparência Pública</a></li>
							</ul>							
						</div>
						<div class="box-boletim-do-patrimonio">
							<div class="boletim-do-patrimonio">
								<h3>Boletim do Patrimônio</h3>
								<p>Cadastre-se e receba novidades do IPHAN</p>
								<form action="#">
									<input type="text" class="form-control" placeholder="Seu e-mail aqui....">
									<input type="button" class="btn btn-default pull-left" value="Cadastrar">
								</form>
								<a href="#">Descadastrar <br> meu e-mail</a>
							</div>
						</div>
						<div class="box-banners-laterais">
							<a href="#"><img src="img/banner-livraria-virtual.jpg" alt="banner livraria virtual"></a>
							<a href="#"><img src="img/banner-mestrado-profissional.jpg" alt="banner mestrado profissional"></a>
							<a href="#"><img src="img/banner-banco-de-dados.jpg" alt="banner banco de dados"></a>
						</div>
					</article>
				</aside>

			</section>

		</section>

		<footer id="footer" class="box-red" role="contentinfo">
			<div class="menu-footer box-red-strong">
				<div class="clearfix">
					<nav class="first" role="menu">
						<h2>Institucional</h2>
						<ul>
							<li role="menuitem">
								<a href="#" class="link-yellow">Sobre o IPHAN</a>
							</li>
							<li role="menuitem">
								<a href="#">O IPHAN</a>
							</li>
							<li role="menuitem">
								<a href="#">Ref. Estratégico</a>
							</li>
							<li role="menuitem">
								<a href="#">Estrutura Organograma</a>
							</li>
							<li role="menuitem">
								<a href="#">Diretoria</a>
							</li>
							<li role="menuitem">
								<a href="#">Endereços do IPHAN</a>
							</li>
							<li role="menuitem">
								<a href="#">Marca</a>
							</li>
							<li role="menuitem">
								<a href="#">Sistema Nacional de Patrimônio Cutural</a>
							</li>
						</ul>
						<ul>
							<li role="menuitem">
								<a href="#" class="link-yellow">Conselho Consultivo</a>
							</li>
							<li role="menuitem">
								<a href="#">Sobre o conselho</a>
							</li>
							<li role="menuitem">
								<a href="#">Membros do conselho</a>
							</li>
							<li role="menuitem">
								<a href="#">Pautas das atas</a>
							</li>
							<li role="menuitem">
								<a href="#">Atas</a>
							</li>
							<li role="menuitem">
								<a href="#">Banco de Pareceres</a>
							</li>
						</ul>
						<ul>
							<li role="menuitem">
								<a href="#" class="link-yellow">Comunicação</a>
							</li>
							<li role="menuitem">
								<a href="#">Notícias</a>
							</li>
							<li role="menuitem">
								<a href="#">Agenda/Eventos</a>
							</li>
							<li role="menuitem">
								<a href="#">Galeria de fotos</a>
							</li>
							<li role="menuitem">
								<a href="#">Vídeos</a>
							</li>
							<li role="menuitem">
								<a href="#">Boletim eletrônico do Patrimônio Cultural</a>
							</li>
						</ul>
					</nav>

					<nav role="menu">
						<h2>Patrimônio Cultural</h2>
						<ul>
							<li role="menuitem">
								<a href="#" class="link-yellow">Patrimônio Material</a>
							</li>
							<li role="menuitem">
								<a href="#">Conceitos e legislação</a>
							</li>
							<li role="menuitem">
								<a href="#">Instrumentos de proteção</a>
							</li>
							<li role="menuitem">
								<a href="#">PNPM</a>
							</li>
							<li role="menuitem">
								<a href="#">Tipologias</a>
							</li>
							<li role="menuitem">
								<a href="#">Bens Inventariados</a>
							</li>
							<li role="menuitem">
								<a href="#">Bens Tombados</a>
							</li>
							<li role="menuitem">
								<a href="#">Tombamento</a>
							</li>
							<li role="menuitem">
								<a href="#">Livros de tombo</a>
							</li>
						</ul>
						<ul>
							<li role="menuitem">
								<a href="#" class="link-yellow">Patrimônio Imaterial</a>
							</li>
							<li role="menuitem">
								<a href="#">Conceitos e legislação</a>
							</li>
							<li role="menuitem">
								<a href="#">Instrumentos de proteção</a>
							</li>
							<li role="menuitem">
								<a href="#">PNPI</a>
							</li>
							<li role="menuitem">
								<a href="#">Tipologias</a>
							</li>
							<li role="menuitem">
								<a href="#">Bens Inventariados</a>
							</li>
							<li role="menuitem">
								<a href="#">Bens registrados</a>
							</li>
							<li role="menuitem">
								<a href="#">Registro</a>
							</li>
							<li role="menuitem">
								<a href="#">Livros de registros</a>
							</li>
						</ul>
						<ul>
							<li role="menuitem">
								<a href="#" class="link-yellow">No mundo</a>
							</li>
							<li role="menuitem">
								<a href="#">Patrimônio Mundial</a>
							</li>
							<li role="menuitem">
								<a href="#">Cooperação Internacional</a>
							</li>
							<li role="menuitem">
								<a href="#">Patrimônio Cultural Imaterial</a>
							</li>
							<li role="menuitem">
								<a href="#">Humano</a>
							</li>
							<li role="menuitem">
								<a href="#">Combate ao tráfico ilícito</a>
							</li>
							<li role="menuitem">
								<a href="#">Memória do mundo</a>
							</li>
							<li role="menuitem">
								<a href="#">Patrimônio Cultural do Mercosul</a>
							</li>
							<li role="menuitem">
								<a href="#">Projetos Multilaterais</a>
							</li>
							<li role="menuitem">
								<a href="#">Projetos Bilaterais</a>
							</li>
						</ul>
					</nav>

					<nav role="menu">
						<h2>Superintendências</h2>
						<ul>
							<li role="menuitem">
								<a href="#">Acre</a>
							</li>
							<li role="menuitem">
								<a href="#">Alagoas</a>
							</li>
							<li role="menuitem">
								<a href="#">Amapá</a>
							</li>
							<li role="menuitem">
								<a href="#">Amazonas</a>
							</li>
							<li role="menuitem">
								<a href="#">Bahia</a>
							</li>
							<li role="menuitem">
								<a href="#">Ceará</a>
							</li>
							<li role="menuitem">
								<a href="#">Distrito Federal</a>
							</li>
							<li role="menuitem">
								<a href="#">Espírito Santo</a>
							</li>
							<li role="menuitem">
								<a href="#">Goiás</a>
							</li>
							<li role="menuitem">
								<a href="#">Maranhão</a>
							</li>
							<li role="menuitem">
								<a href="#">Mato Grosso</a>
							</li>
							<li role="menuitem">
								<a href="#">Mato Grosso do Sul</a>
							</li>
							<li role="menuitem">
								<a href="#">Minas Gerais</a>
							</li>
							<li role="menuitem">
								<a href="#">Pará</a>
							</li>
							<li role="menuitem">
								<a href="#">Paraíba</a>
							</li>
							<li role="menuitem">
								<a href="#">Paraná</a>
							</li>
							<li role="menuitem">
								<a href="#">Pernambuco</a>
							</li>
							<li role="menuitem">
								<a href="#">Piauí</a>
							</li>
							<li role="menuitem">
								<a href="#">Rio de Janeiro</a>
							</li>
							<li role="menuitem">
								<a href="#">Rio Grande do Norte</a>
							</li>
							<li role="menuitem">
								<a href="#">Rio Grande do Sul</a>
							</li>
							<li role="menuitem">
								<a href="#">Rondônia</a>
							</li>
							<li role="menuitem">
								<a href="#">Roraima</a>
							</li>
							<li role="menuitem">
								<a href="#">Santa Catarina</a>
							</li>
							<li role="menuitem">
								<a href="#">São Paulo</a>
							</li>
							<li role="menuitem">
								<a href="#">Sergipe</a>
							</li>
							<li role="menuitem">
								<a href="#">Tocantins</a>
							</li>
						</ul>
					</nav>

					<nav role="menu">
						<h2>Programas e Projetos</h2>
						<ul>
							<li role="menuitem">
								<a href="#" class="link-yellow">Geral</a>
							</li>
							<li role="menuitem">
								<a href="#">PAC Cidades Históricas</a>
							</li>
							<li role="menuitem">
								<a href="#">Monumenta</a>
							</li>
							<li role="menuitem">
								<a href="#">Acervo BNDES</a>
							</li>
							<li role="menuitem">
								<a href="#">PRONAC</a>
							</li>
							<li role="menuitem">
								<a href="#">Promoart</a>
							</li>
							<li role="menuitem">
								<a href="#">Financiamneto e Imóveis</a>
							</li>
							<li role="menuitem">
								<a href="#">Privados</a>
							</li>
							<li role="menuitem">
								<a href="#">Mestres Artífices</a>
							</li>
							<li role="menuitem">
								<a href="#">PNPI</a>
							</li>
							<li role="menuitem">
								<a href="#">Patrimônio Ferroviário</a>
							</li>
							<li role="menuitem">
								<a href="#">Patrimônio Naval</a>
							</li>
						</ul>
						<ul>
							<li role="menuitem">
								<a href="#" class="link-yellow">Educação</a>
							</li>
							<li role="menuitem">
								<a href="#">Educação Patrimonial</a>
							</li>
							<li role="menuitem">
								<a href="#">Casas do Patrimônio</a>
							</li>
							<li role="menuitem">
								<a href="#">Centro Cultural Paço Imperial</a>
							</li>
							<li role="menuitem">
								<a href="#">Centro Nacional de Folclore e Cultura Popular</a>
							</li>
							<li role="menuitem">
								<a href="#">Centro Cultural Sítio Roberto Burlemax</a>
							</li>
							<li role="menuitem">
								<a href="#">Mestrado Profissional</a>
							</li>
							<li role="menuitem">
								<a href="#">Centro Lúcio Costa</a>
							</li>
						</ul>
						<ul>
							<li role="menuitem">
								<a href="#" class="link-yellow">Prêmios</a>
							</li>
							<li role="menuitem">
								<a href="#">Prêmio Sílvio Romero</a>
							</li>
							<li role="menuitem">
								<a href="#">Prêmio Rodrigo Melo</a>
							</li>
							<li role="menuitem">
								<a href="#">Prêmio Folclore</a>
							</li>
							<li role="menuitem">
								<a href="#">Prêmio Paço</a>
							</li>
							<li role="menuitem">
								<a href="#">Prêmio Arqueologia</a>
							</li>
							<li role="menuitem">
								<a href="#">Etnodoc</a>
							</li>
							<li role="menuitem">
								<a href="#">Editais</a>
							</li>
							<li role="menuitem">
								<a href="#">Resultados</a>
							</li>
						</ul>
					</nav>

					<nav class="last" role="menu">
						<h2>Conhecimento</h2>
						<ul>
							<li role="menuitem">
								<a href="#">Acervos do IPHAN</a>
							</li>
							<li role="menuitem">
								<a href="#">Publicações</a>
							</li>
							<li role="menuitem">
								<a href="#">Bibliotecas IPHAN</a>
							</li>
							<li role="menuitem">
								<a href="#">Dicionário do Patrimônio</a>
							</li>
							<li role="menuitem">
								<a href="#">Cultural</a>
							</li>
							<li role="menuitem">
								<a href="#">Banco de Pareceres</a>
							</li>
							<li role="menuitem">
								<a href="#">Bibliografia geral do Patrimônio</a>
							</li>
						</ul>
						<h2 class="pt20">Serviços Online</h2>
						<ul>
							<li role="menuitem">
								<a href="#">Bens culturais procurados</a>
							</li>
							<li role="menuitem">
								<a href="#">Cadastro de negociantes</a>
							</li>
							<li role="menuitem">
								<a href="#">Consulta à Patrimônios</a>
							</li>
							<li role="menuitem">
								<a href="#">Tombados / Registrados</a>
							</li>
						</ul>
						<h2 class="pt20">Mais</h2>
						<ul>
							<li role="menuitem">
								<a href="#">Concursos</a>
							</li>
							<li role="menuitem">
								<a href="#">Seleções</a>
							</li>
							<li role="menuitem">
								<a href="#">Cotações</a>
							</li>
							<li role="menuitem">
								<a href="#">Transparência</a>
							</li>
							<li role="menuitem">
								<a href="#">Sistemas</a>
							</li>
							<li role="menuitem">
								<a href="#">intranet</a>
							</li>
							<li role="menuitem">
								<a href="#">FAQ</a>
							</li>
							<li role="menuitem">
								<a href="#">Fale Conosco</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="ministerio-da-cultura clearfix">
				<div class="ministerio-da-cultura-esq">
					IPHAN | Instituto do Patrimônio Histórico e Artístico Nacional<br />
					SEPS Quadra 713/913 - Bloco D Edifício IPHAN - 70.390-135 - Brasília/DF<br />
					faleconosco@iphan.gov.br
				</div>
				<div class="ministerio-da-cultura-dir">
					<ul>
						<li class="ministerio-cultura"><a href="#" target="_blank"><img src="./img/ministerio-cultura.png" alt="Ministério da Cultura"></a></li>
						<li class="governo-federal"><a href="#" target="_blank"><img src="./img/governo-federal.png" alt="Governo Federal"></a></li>
						<li class="acesso-informacao"><a href="#" target="_blank"><img src="./img/acesso-informacao.png" alt="Acesso à Informação"></a></li>
					</ul>
				</div>
			</div>
			<div id="copyright" class="box-red-strong">
				© Copyright 2014. IPHAN. Todos os direitos reservados
			</div>
		</footer>

	</div>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="//barra.brasil.gov.br/barra.js" type="text/javascript"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="./js/bootstrap.js"></script>
	<script type="text/javascript" src="./js/jquery.dropdownPlain.js"></script>
	<script type="text/javascript" src="./js/jquery.cycle2.min.js"></script>
	<script type="text/javascript" src="./js/jquery.cycle2.center.js"></script>
	<script type="text/javascript" src="./js/jquery.cycle2.carousel.min.js"></script>
	<script type="text/javascript" src="./js/default.js"></script>

</body>
</html>