<!DOCTYPE HTML>
<html lang="pt-br">
    <head>

        <!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
        <!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
        <!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->

        <!--[if IE]> 
            <script type="text/javascript">         
                document.createElement("header");        
                document.createElement("section");
                document.createElement("article");
                document.createElement("aside");
                document.createElement("nav");        
                document.createElement("figure");
                document.createElement("legend");
                document.createElement("footer");
            </script> 
    <![endif] -->

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css' />
        <link href="./css/bootstrap.css" rel='stylesheet' type='text/css' />
        <link href="./css/template.css" rel='stylesheet' type='text/css' />
        <link href="./css/style.css" rel='stylesheet' type='text/css' />
        <link href="./css/contrast.css" rel='stylesheet' type='text/css' />

        <title>IPHAN - Instituto do Patrimônio Histórico e Artístico Nacional</title>	
    </head>
    <body id="subsites">
        <div id="barra-brasil" style="background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block;">
            <ul id="menu-barra-temp" style="list-style:none;">
                <li style="display:inline; float:left; padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED">
                    <a href="http://brasil.gov.br" style="font-family:sans, sans-serif; text-decoration:none; color:white">Portal do Governo Brasileiro</a>
                </li>
                <li>
                    <a style="font-family:sans,sans-serif; text-decoration:none; color:white;" href="http://epwg.governoeletronico.gov.br/barra/atualize.html">Atualize sua Barra de Governo</a>
                </li>
            </ul>
        </div>

        <div id="main">

            <header id="header" role="banner">
                <div id="header-left">
                    <a href="#">
                        <h1>
                            <img src="./img/logo.jpg" alt="Logo" />
                        </h1>
                    </a>
                </div>
                <div id="header-right">
                    <div class="row clearfix">
                        <div class="bts-accessibility float-left">
                            <ul class="clearfix">
                                <li class="float-left">
                                    <a href="#" class="increase-font">aumentar fonte</a>
                                </li>
                                <li class="float-left">
                                    <a href="#" class="decrease-font">diminuir fonte</a>
                                </li>
                                <li class="float-left">
                                    <a href="#" class="contrast">contraste</a>
                                </li>
                            </ul>
                        </div>
                        <div class="search float-left">
                            <form action="#">
                                <input type="search" name="busca" placeholder="Pesquise aqui sobre o IPHAN" accesskey="3" />
                                <input type="submit" name="buscar" value="buscar" />
                            </form>
                        </div>
                        <div class="selo-mapa float-right">
                            <a href="#"><img src="./img/selo-mapa.png" alt="Mapa do Patrimônio Culrual do Brasil"></a>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <nav class="menu-header" role="menubar">
                            <ul class="clearfix float-left">
                                <li class="first" >
                                    <a href="#">Concursos</a>
                                </li>
                                <li >
                                    <a href="#">Seleções</a>
                                </li>
                                <li >
                                    <a href="#">Cotações</a>
                                </li>
                                <li >
                                    <a href="#">Sistema</a>
                                </li>
                                <li >
                                    <a href="#">Intranet</a>
                                </li>
                                <li >
                                    <a href="#">FAQ</a>
                                </li>
                                <li  class="last">
                                    <a href="#">Fale conosco</a>
                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>	
            </header>

            <div id="menu-master">
                <nav role="navigation">
                    <ul class="dropdown clearfix">
                        <li >
                            <a href="#" accesskey="2">Institucional</a>        		
                        </li>
                        <li >
                            <a href="#">Superintendências</a>        		
                        </li>
                        <li >
                            <a href="#">Patrimônios</a>        		
                        </li>
                        <li >
                            <a href="#">Conhecimento</a>
                        </li>
                        <li >
                            <a href="#">Projetos e Programas</a>
                        </li>
                        <li >
                            <a href="#" title="possui sub-menu">Comunicação</a>
                            <ul class="sub_menu" role="menu">
                                <li >
                                    <a href="#">Notícias</a>
                                </li>
                                <li >
                                    <a href="#">Agenda / Eventos</a>
                                </li>
                                <li >
                                    <a href="#">Galeria de Fotos</a>
                                </li>
                                <li >
                                    <a href="#">Vídeos</a>
                                </li>
                                <li >
                                    <a href="#" title="último item do submenu comunicação">Boletim Eletrônico do Patrimônio Cultural</a>
                                </li>
                            </ul>
                        </li>
                        <li >
                            <a href="#">Serviços Online</a>
                        </li>
                        <li >
                            <a href="#">Mais</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <section id="container2" role="main">
                <section class="box-noticias-subsites">
                    <div class="box-noticias-subsites-content">
                        <div class="noticias-subsites" 
                             data-cycle-fx="scrollHorz" 
                             data-cycle-timeout="2000"
                             data-cycle-pager=".noticias-paginacao"
                             data-cycle-overlay=".noticias-overlay"
                             data-cycle-overlay-template="<h2>{{title}}</h2><a href='#'>{{desc}}</a>"
                             >
                            <img src="./img/cristo-redentor01.jpg" 
                                 data-cycle-title="Rio de Janeiro a sede das olimpíadas de 2016, "
                                 data-cycle-desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit viverra iaculis. Class aptent taciti sociosqu ad"
                                 alt="Slide 1"
                                 />
                            <img src="./img/cristo-redentor02.jpg" 
                                 data-cycle-title="Título 2 "
                                 data-cycle-desc="Texto 2"
                                 alt="Slide 2"
                                 />						
                        </div>	
                        <div class="noticias-overlay"></div>			
                        <div class="noticias-paginacao"></div>
                    </div>
                </section>
                <section class="bem-vindo">
                    <div class="master-content">
                        <h2>Bem vindo ao subsite</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit viverra iaculis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum egestas suscipit tempor. Proin vel posuere risus. Nunc eget egestas nunc, vulputate condimentum purus. Curabitur ut venenatis est. Duis lobortis dui ac metus lobortis, at sodales justo porttitor.</p>
                    </div>
                </section>
                <div class="box-white">				
                    <div class="box-destaques-noticias">
                        <div class="row">
                            <div class="title-bg">
                                <div class="title-border">
                                    <h2>DESTAQUES DE NOTÍCIAS</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="master-content clearfix">
                                <div class="destaques-noticias-col destaques-noticias-col1">							
                                    <img src="./img/destaques-noticias01.jpg" alt="noticias destaque 01">
                                    <h2><a href="#">Rio de Janeiro a sede das olimpíadas de 2016, esta se preparando</a></h2>
                                </div>
                                <div class="destaques-noticias-col destaques-noticias-col2">
                                    <img src="./img/destaques-noticias02.jpg" alt="noticias destaque 02">
                                    <h2><a href="#">Rio de Janeiro a sede das olimpíadas de 2016, esta se preparando</a></h2>
                                </div>
                                <div class="destaques-noticias-col destaques-noticias-col3">							
                                    <img src="./img/destaques-noticias01.jpg" alt="noticias destaque 01">
                                    <h2><a href="#">Rio de Janeiro a sede das olimpíadas de 2016, esta se preparando</a></h2>
                                </div>
                                <div class="destaques-noticias-col destaques-noticias-col1">							
                                    <img src="./img/destaques-noticias01.jpg" alt="noticias destaque 01">
                                    <h2><a href="#">Rio de Janeiro a sede das olimpíadas de 2016, esta se preparando</a></h2>
                                </div>
                                <div class="destaques-noticias-col destaques-noticias-col2">
                                    <img src="./img/destaques-noticias02.jpg" alt="noticias destaque 02">
                                    <h2><a href="#">Rio de Janeiro a sede das olimpíadas de 2016, esta se preparando</a></h2>
                                </div>
                                <div class="destaques-noticias-col destaques-noticias-col3">							
                                    <img src="./img/destaques-noticias01.jpg" alt="noticias destaque 01">
                                    <h2><a href="#">Rio de Janeiro a sede das olimpíadas de 2016, esta se preparando</a></h2>
                                </div>
                                <div class="mais">
                                    <a href="#">Mais notícias ></a>
                                </div>
                                <div class="row box-agenda-subsites">
                                    <div class="agenda-subsites">
                                        <h2>Agenda</h2>
                                    </div>
                                    <ul class="list-agenda-subsites clearfix">
                                        <li class="col col1">
                                            <ul>
                                                <li class="data">
                                                    <span>02</span>mar
                                                </li>
                                                <li class="txt">
                                                    Casa do Patrimônio Vale do Ribeiro (SP) promove bate-papo sobre restauração.
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="col col2">
                                            <ul>
                                                <li class="data">
                                                    <span>02</span>mar
                                                </li>
                                                <li class="txt">
                                                    Casa do Patrimônio Vale do Ribeiro (SP) promove bate-papo sobre restauração.
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="col col3">
                                            <ul>
                                                <li class="data">
                                                    <span>02</span>mar
                                                </li>
                                                <li class="txt">
                                                    Casa do Patrimônio Vale do Ribeiro (SP) promove bate-papo sobre restauração.
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row box-agenda-subsites">
                                    <ul class="list-agenda-subsites clearfix">
                                        <li class="col col1">
                                            <ul>
                                                <li class="data">
                                                    <span>02</span>mar
                                                </li>
                                                <li class="txt">
                                                    Casa do Patrimônio Vale do Ribeiro (SP) promove bate-papo sobre restauração.
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="col col2">
                                            <ul>
                                                <li class="data">
                                                    <span>02</span>mar
                                                </li>
                                                <li class="txt">
                                                    Casa do Patrimônio Vale do Ribeiro (SP) promove bate-papo sobre restauração.
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="col col3">
                                            <ul>
                                                <li class="data">
                                                    <span>02</span>mar
                                                </li>
                                                <li class="txt">
                                                    Casa do Patrimônio Vale do Ribeiro (SP) promove bate-papo sobre restauração.
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="mais mb50">
                                    <a href="#">Mais agenda ></a>
                                </div>
                            </div>
                        </div>					
                    </div>
                </div>
            </section>

            <aside class="box-banners">
                <div class="row">
                    <ul>
                        <li class="banner-livraria-virtual">
                            <a href="#"><img src="./img/livraria-virtual.jpg" alt="Banner"></a>
                        </li>
                        <li class="banner-boletim-do-patrimonio">
                            <a href="#"><img src="./img/boletim-do-patrimonio.jpg" alt="Banner"></a>
                        </li>
                        <li class="redes-sociais">
                            <ul class="bts-social float-left">
                                <li><a href="#" class="facebook">facebook</a></li>
                                <li><a href="#" class="twitter">twitter</a></li>
                                <li><a href="#" class="flickr">flickr</a></li>
                                <li><a href="#" class="youtube">youtube</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </aside>
            <aside class="box-banner-rodape" role="complementary">
                <div class="row">
                    <ul class="banner-rodape">
                        <li>
                            <a href="#"><img src="./img/banner-mestrado-profissional.jpg" alt="banner"></a>
                        </li>
                        <li>
                            <a href="#"><img src="./img/banner-livraria-virtual.jpg" alt="banner"></a>
                        </li>
                        <li>
                            <a href="#"><img src="./img/banner-banco-de-dados.jpg" alt="banner"></a>
                        </li>
                        <li class="mr0">
                            <a href="#"><img src="./img/banner-mestrado-profissional.jpg" alt="banner"></a>
                        </li>
                    </ul>
                </div>
            </aside>

            <footer id="footer" class="box-red" role="contentinfo">
                <div class="anjo">&nbsp;</div>
                <div class="menu-footer box-red-strong">
                    <div class="clearfix">
                        <nav class="first" role="menu">
                            <h2>Institucional</h2>
                            <ul>
                                <li >
                                    <a href="#" class="link-yellow">Sobre o IPHAN</a>
                                </li>
                                <li >
                                    <a href="#">O IPHAN</a>
                                </li>
                                <li >
                                    <a href="#">Ref. Estratégico</a>
                                </li>
                                <li >
                                    <a href="#">Estrutura Organograma</a>
                                </li>
                                <li >
                                    <a href="#">Diretoria</a>
                                </li>
                                <li >
                                    <a href="#">Endereços do IPHAN</a>
                                </li>
                                <li >
                                    <a href="#">Marca</a>
                                </li>
                                <li >
                                    <a href="#">Sistema Nacional de Patrimônio Cutural</a>
                                </li>
                            </ul>
                            <ul>
                                <li >
                                    <a href="#" class="link-yellow">Conselho Consultivo</a>
                                </li>
                                <li >
                                    <a href="#">Sobre o conselho</a>
                                </li>
                                <li >
                                    <a href="#">Membros do conselho</a>
                                </li>
                                <li >
                                    <a href="#">Pautas das atas</a>
                                </li>
                                <li >
                                    <a href="#">Atas</a>
                                </li>
                                <li >
                                    <a href="#">Banco de Pareceres</a>
                                </li>
                            </ul>
                            <ul>
                                <li >
                                    <a href="#" class="link-yellow">Comunicação</a>
                                </li>
                                <li >
                                    <a href="#">Notícias</a>
                                </li>
                                <li >
                                    <a href="#">Agenda/Eventos</a>
                                </li>
                                <li >
                                    <a href="#">Galeria de fotos</a>
                                </li>
                                <li >
                                    <a href="#">Vídeos</a>
                                </li>
                                <li >
                                    <a href="#">Boletim eletrônico do Patrimônio Cultural</a>
                                </li>
                            </ul>
                        </nav>

                        <nav role="menu">
                            <h2>Patrimônio Cultural</h2>
                            <ul>
                                <li >
                                    <a href="#" class="link-yellow">Patrimônio Material</a>
                                </li>
                                <li >
                                    <a href="#">Conceitos e legislação</a>
                                </li>
                                <li >
                                    <a href="#">Instrumentos de proteção</a>
                                </li>
                                <li >
                                    <a href="#">PNPM</a>
                                </li>
                                <li >
                                    <a href="#">Tipologias</a>
                                </li>
                                <li >
                                    <a href="#">Bens Inventariados</a>
                                </li>
                                <li >
                                    <a href="#">Bens Tombados</a>
                                </li>
                                <li >
                                    <a href="#">Tombamento</a>
                                </li>
                                <li >
                                    <a href="#">Livros de tombo</a>
                                </li>
                            </ul>
                            <ul>
                                <li >
                                    <a href="#" class="link-yellow">Patrimônio Imaterial</a>
                                </li>
                                <li >
                                    <a href="#">Conceitos e legislação</a>
                                </li>
                                <li >
                                    <a href="#">Instrumentos de proteção</a>
                                </li>
                                <li >
                                    <a href="#">PNPI</a>
                                </li>
                                <li >
                                    <a href="#">Tipologias</a>
                                </li>
                                <li >
                                    <a href="#">Bens Inventariados</a>
                                </li>
                                <li >
                                    <a href="#">Bens registrados</a>
                                </li>
                                <li >
                                    <a href="#">Registro</a>
                                </li>
                                <li >
                                    <a href="#">Livros de registros</a>
                                </li>
                            </ul>
                            <ul>
                                <li >
                                    <a href="#" class="link-yellow">No mundo</a>
                                </li>
                                <li >
                                    <a href="#">Patrimônio Mundial</a>
                                </li>
                                <li >
                                    <a href="#">Cooperação Internacional</a>
                                </li>
                                <li >
                                    <a href="#">Patrimônio Cultural Imaterial</a>
                                </li>
                                <li >
                                    <a href="#">Humano</a>
                                </li>
                                <li >
                                    <a href="#">Combate ao tráfico ilícito</a>
                                </li>
                                <li >
                                    <a href="#">Memória do mundo</a>
                                </li>
                                <li >
                                    <a href="#">Patrimônio Cultural do Mercosul</a>
                                </li>
                                <li >
                                    <a href="#">Projetos Multilaterais</a>
                                </li>
                                <li >
                                    <a href="#">Projetos Bilaterais</a>
                                </li>
                            </ul>
                        </nav>

                        <nav role="menu">
                            <h2>Superintendências</h2>
                            <ul>
                                <li >
                                    <a href="#">Acre</a>
                                </li>
                                <li >
                                    <a href="#">Alagoas</a>
                                </li>
                                <li >
                                    <a href="#">Amapá</a>
                                </li>
                                <li >
                                    <a href="#">Amazonas</a>
                                </li>
                                <li >
                                    <a href="#">Bahia</a>
                                </li>
                                <li >
                                    <a href="#">Ceará</a>
                                </li>
                                <li >
                                    <a href="#">Distrito Federal</a>
                                </li>
                                <li >
                                    <a href="#">Espírito Santo</a>
                                </li>
                                <li >
                                    <a href="#">Goiás</a>
                                </li>
                                <li >
                                    <a href="#">Maranhão</a>
                                </li>
                                <li >
                                    <a href="#">Mato Grosso</a>
                                </li>
                                <li >
                                    <a href="#">Mato Grosso do Sul</a>
                                </li>
                                <li >
                                    <a href="#">Minas Gerais</a>
                                </li>
                                <li >
                                    <a href="#">Pará</a>
                                </li>
                                <li >
                                    <a href="#">Paraíba</a>
                                </li>
                                <li >
                                    <a href="#">Paraná</a>
                                </li>
                                <li >
                                    <a href="#">Pernambuco</a>
                                </li>
                                <li >
                                    <a href="#">Piauí</a>
                                </li>
                                <li >
                                    <a href="#">Rio de Janeiro</a>
                                </li>
                                <li >
                                    <a href="#">Rio Grande do Norte</a>
                                </li>
                                <li >
                                    <a href="#">Rio Grande do Sul</a>
                                </li>
                                <li >
                                    <a href="#">Rondônia</a>
                                </li>
                                <li >
                                    <a href="#">Roraima</a>
                                </li>
                                <li >
                                    <a href="#">Santa Catarina</a>
                                </li>
                                <li >
                                    <a href="#">São Paulo</a>
                                </li>
                                <li >
                                    <a href="#">Sergipe</a>
                                </li>
                                <li >
                                    <a href="#">Tocantins</a>
                                </li>
                            </ul>
                        </nav>

                        <nav role="menu">
                            <h2>Programas e Projetos</h2>
                            <ul>
                                <li >
                                    <a href="#" class="link-yellow">Geral</a>
                                </li>
                                <li >
                                    <a href="#">PAC Cidades Históricas</a>
                                </li>
                                <li >
                                    <a href="#">Monumenta</a>
                                </li>
                                <li >
                                    <a href="#">Acervo BNDES</a>
                                </li>
                                <li >
                                    <a href="#">PRONAC</a>
                                </li>
                                <li >
                                    <a href="#">Promoart</a>
                                </li>
                                <li >
                                    <a href="#">Financiamneto e Imóveis</a>
                                </li>
                                <li >
                                    <a href="#">Privados</a>
                                </li>
                                <li >
                                    <a href="#">Mestres Artífices</a>
                                </li>
                                <li >
                                    <a href="#">PNPI</a>
                                </li>
                                <li >
                                    <a href="#">Patrimônio Ferroviário</a>
                                </li>
                                <li >
                                    <a href="#">Patrimônio Naval</a>
                                </li>
                            </ul>
                            <ul>
                                <li >
                                    <a href="#" class="link-yellow">Educação</a>
                                </li>
                                <li >
                                    <a href="#">Educação Patrimonial</a>
                                </li>
                                <li >
                                    <a href="#">Casas do Patrimônio</a>
                                </li>
                                <li >
                                    <a href="#">Centro Cultural Paço Imperial</a>
                                </li>
                                <li >
                                    <a href="#">Centro Nacional de Folclore e Cultura Popular</a>
                                </li>
                                <li >
                                    <a href="#">Centro Cultural Sítio Roberto Burlemax</a>
                                </li>
                                <li >
                                    <a href="#">Mestrado Profissional</a>
                                </li>
                                <li >
                                    <a href="#">Centro Lúcio Costa</a>
                                </li>
                            </ul>
                            <ul>
                                <li >
                                    <a href="#" class="link-yellow">Prêmios</a>
                                </li>
                                <li >
                                    <a href="#">Prêmio Sílvio Romero</a>
                                </li>
                                <li >
                                    <a href="#">Prêmio Rodrigo Melo</a>
                                </li>
                                <li >
                                    <a href="#">Prêmio Folclore</a>
                                </li>
                                <li >
                                    <a href="#">Prêmio Paço</a>
                                </li>
                                <li >
                                    <a href="#">Prêmio Arqueologia</a>
                                </li>
                                <li >
                                    <a href="#">Etnodoc</a>
                                </li>
                                <li >
                                    <a href="#">Editais</a>
                                </li>
                                <li >
                                    <a href="#">Resultados</a>
                                </li>
                            </ul>
                        </nav>

                        <nav class="last" role="menu">
                            <h2>Conhecimento</h2>
                            <ul>
                                <li >
                                    <a href="#">Acervos do IPHAN</a>
                                </li>
                                <li >
                                    <a href="#">Publicações</a>
                                </li>
                                <li >
                                    <a href="#">Bibliotecas IPHAN</a>
                                </li>
                                <li >
                                    <a href="#">Dicionário do Patrimônio</a>
                                </li>
                                <li >
                                    <a href="#">Cultural</a>
                                </li>
                                <li >
                                    <a href="#">Banco de Pareceres</a>
                                </li>
                                <li >
                                    <a href="#">Bibliografia geral do Patrimônio</a>
                                </li>
                            </ul>
                            <h2 class="pt20">Serviços Online</h2>
                            <ul>
                                <li >
                                    <a href="#">Bens culturais procurados</a>
                                </li>
                                <li >
                                    <a href="#">Cadastro de negociantes</a>
                                </li>
                                <li >
                                    <a href="#">Consulta à Patrimônios</a>
                                </li>
                                <li >
                                    <a href="#">Tombados / Registrados</a>
                                </li>
                            </ul>
                            <h2 class="pt20">Mais</h2>
                            <ul>
                                <li >
                                    <a href="#">Concursos</a>
                                </li>
                                <li >
                                    <a href="#">Seleções</a>
                                </li>
                                <li >
                                    <a href="#">Cotações</a>
                                </li>
                                <li >
                                    <a href="#">Transparência</a>
                                </li>
                                <li >
                                    <a href="#">Sistemas</a>
                                </li>
                                <li >
                                    <a href="#">intranet</a>
                                </li>
                                <li >
                                    <a href="#">FAQ</a>
                                </li>
                                <li >
                                    <a href="#">Fale Conosco</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="ministerio-da-cultura clearfix">
                    <div class="ministerio-da-cultura-esq">
                        IPHAN | Instituto do Patrimônio Histórico e Artístico Nacional<br />
                        SEPS Quadra 713/913 - Bloco D Edifício IPHAN - 70.390-135 - Brasília/DF<br />
                        faleconosco@iphan.gov.br
                    </div>
                    <div class="ministerio-da-cultura-dir">
                        <ul>
                            <li class="ministerio-cultura"><a href="#" target="_blank"><img src="./img/ministerio-cultura.png" alt="Ministério da Cultura" width="160" height="47"></a></li>
                            <li class="governo-federal"><a href="#" target="_blank"><img src="./img/governo-federal.png" alt="Governo Federal" width="160" height="47"></a></li>
                            <li class="acesso-informacao"><a href="#" target="_blank"><img src="./img/acesso-informacao.png" alt="Acesso à Informação" width="160" height="47"></a></li>
                        </ul>
                    </div>
                </div>
                <div id="copyright" class="box-red-strong">
                    © Copyright 2014. IPHAN. Todos os direitos reservados
                </div>
            </footer>

        </div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="//barra.brasil.gov.br/barra.js" type="text/javascript"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="./js/jquery-ui/jquery-ui.min.js"></script>
        <script type="text/javascript" src="./js/bootstrap.js"></script>
        <script type="text/javascript" src="./js/jquery.dropdownPlain.js"></script>
        <script type="text/javascript" src="./js/jquery.cycle2.min.js"></script>
        <script type="text/javascript" src="./js/jquery.cycle2.center.js"></script>
        <script type="text/javascript" src="./js/jquery.cycle2.carousel.min.js"></script>
        <script type="text/javascript" src="./js/default.js"></script>

    </body>
</html>