<div class="pageheader notab">
    <h1 class="pagetitle">Ajuda Online</h1>
</div><!--pageheader-->

<div id="contentwrapper" class="contentwrapper">

    <div id="vertical" class="subcontent">
       
        
        <div id="wizard" class="wizard">

            
            <ul class="verticalmenu">
                  <li>
                    <a href="#wiz1step0">
                        <span class="label">Início</span>
                    </a>
                </li>
                <li>
                    <a href="#wiz1step1">
                        <span class="label">Visualizando listas</span>
                    </a>
                </li>
                <li>
                    <a href="#wiz1step2">
                        <span class="label">Pesquisando itens</span>
                    </a>
                </li>
                <li>
                    <a href="#wiz1step3">
                        <span class="label">Selecionando itens</span>
                    </a>
                </li>
                <li>
                    <a href="#wiz1step4">
                        <span class="label">Visualizando detalhes</span>
                    </a>
                </li>
                <li>
                    <a href="#wiz1step5">
                        <span class="label">Publicando/despublicando itens</span>
                    </a>
                </li>
                <li>
                    <a href="#wiz1step6">
                        <span class="label">Excluindo itens</span>
                    </a>
                </li>
                <li>
                    <a href="#wiz1step7">
                        <span class="label">Inserindo novo item</span>
                    </a>
                </li>
                <li>
                    <a href="#wiz1step8">
                        <span class="label">Preenchendo os campos</span>
                    </a>
                </li>
                <li>
                    <a href="#wiz1step9">
                        <span class="label">Cadastros rápidos</span>
                    </a>
                </li>
                <li>
                    <a href="#wiz1step10">
                        <span class="label">Inserindo imagens a partir do banco</span>
                    </a>
                </li>
            </ul>

            
             <div id="wiz1step0" class="formwiz">
                    <h4>Olá, Seja bem vindo ao CMS IPHAN!</h4>
                    <div class="margin20">
                        <div class="one_half">
                            <img alt="Ajuda do Sistema" title="Ajuda do Sistema" src="templates/amanda/assets/images/wizard/bemvind.png" style="margin-left: 55px;"/>
                        </div>
                        
                        <br clear="all" />
                    </div>
            </div><!--#wiz1step0-->

            <div id="wiz1step1" class="formwiz">
                    <h4>Visualizando listas</h4>
                    <div class="margin20">
                        <div class="one_half">
                            <img alt="Ajuda do Sistema" title="Ajuda do Sistema" src="templates/amanda/assets/images/wizard/visualizandolistas.png" style="margin-left: 50px;"/>
                        </div>
                        <br clear="all" />
                    </div>
            </div><!--#wiz1step1-->

            <div id="wiz1step2" class="formwiz">
                    <h4>Pesquisando itens</h4>
                    <div class="margin20">
                        <div class="one_half">
                            <img alt="Ajuda do Sistema" title="Ajuda do Sistema" src="templates/amanda/assets/images/wizard/pesquisando.png" style="margin-left: 45px;"/>
                        </div>
                      {#  <div class="one_half last">
                            <p>
                                É claro que a crescente influência da mídia nos obriga à análise da gestão inovadora da qual fazemos parte. Acima de tudo, é fundamental ressaltar que o início da atividade geral de formação de atitudes faz parte de um processo de gestão do sistema de participação geral. Todavia, a contínua expansão de nossa atividade auxilia a preparação e a composição dos métodos utilizados na avaliação de resultados.                             
                            </p>
                        </div>#}
                        <br clear="all" />
                    </div>
            </div><!--#wiz1step2-->

            <div id="wiz1step3" class="formwiz">
                    <h4>Selecionando itens</h4>
                    <div class="margin20">
                        <div class="one_half">
                            <img alt="Ajuda do Sistema" title="Ajuda do Sistema" src="templates/amanda/assets/images/wizard/selecionando.png" style="margin-left: 45px;"/>
                        </div>
                        
                        <br clear="all" />
                    </div>
            </div><!--#wiz1step3-->
            <div id="wiz1step4" class="formwiz">
                    <h4>Visualizando detalhes</h4>
                    <div class="margin20">
                        <div class="one_half">
                            <img alt="Ajuda do Sistema" title="Ajuda do Sistema" src="templates/amanda/assets/images/wizard/detalhes.png" style="margin-left: 45px;"/>
                        </div>
                        
                        <br clear="all" />
                    </div>
            </div><!--#wiz1step4-->
            <div id="wiz1step5" class="formwiz">
                    <h4>Publicando/despublicando itens</h4>
                    <div class="margin20">
                        <div class="one_half">
                            <img alt="Ajuda do Sistema" title="Ajuda do Sistema" src="templates/amanda/assets/images/wizard/publix.png" style="margin-left: 40px;"/>
                        </div>
                       
                        <br clear="all" />
                    </div>
            </div><!--#wiz1step5-->
            
             <div id="wiz1step6" class="formwiz">
                    <h4>Excluindo itens</h4>
                    <div class="margin20">
                        <div class="one_half">
                            <img alt="Ajuda do Sistema" title="Ajuda do Sistema" src="templates/amanda/assets/images/wizard/excluindo.png" style="margin-left: 55px;"/>
                        </div>
                        
                        <br clear="all" />
                    </div>
            </div><!--#wiz1step6-->
            
             <div id="wiz1step7" class="formwiz">
                    <h4>Inserindo novo item</h4>
                    <div class="margin20">
                        <div class="one_half">
                            <img alt="Ajuda do Sistema" title="Ajuda do Sistema" src="templates/amanda/assets/images/wizard/inserindo.png" style="margin-left: 40px;"/>
                        </div>
                       
                        <br clear="all" />
                    </div>
            </div><!--#wiz1step7-->
            
             <div id="wiz1step8" class="formwiz">
                    <h4>Preenchendo os campos</h4>
                    <div class="margin20">
                        <div class="one_half">
                            <img alt="Ajuda do Sistema" title="Ajuda do Sistema" src="templates/amanda/assets/images/wizard/preenchendo.png" style="margin-left: 35px;"/>
                        </div>
                        
                        <br clear="all" />
                    </div>
            </div><!--#wiz1step8-->
            
             <div id="wiz1step9" class="formwiz">
                    <h4>Cadastros rápidos</h4>
                    <div class="margin20">
                        <div class="one_half">
                            <img alt="Ajuda do Sistema" title="Ajuda do Sistema" src="templates/amanda/assets/images/wizard/cadastrosrapidos.png" style="margin-left: 35px;"/>
                        </div>
                        
                        <br clear="all" />
                    </div>
            </div><!--#wiz1step9-->
            
             <div id="wiz1step10" class="formwiz">
                    <h4>Inserindo imagens a partir do banco</h4>
                    <div class="margin20">
                        <div class="one_half">
                            <img alt="Ajuda do Sistema" title="Ajuda do Sistema" src="templates/amanda/assets/images/wizard/inserindoimgs.png" style="margin-left: 55px;"/>
                        </div>
                        
                        <br clear="all" />
                    </div>
            </div><!--#wiz1step10-->
            

        </div><!--#wizard-->
        
        <br clear="all" />

    </div><!--subcontent-->
</div><!--contentwrapper-->
